<div class="profile_edit">
  <% if @user.image? %>
    <%= image_tag(@user.image.url,class:"profile_edit_user_img") %>
  <% else %>
    <%= image_tag"/assets/default.jpeg",class:"profile_edit_user_img" %>
  <% end %>

  
    <span class="profile_edit_user_name"><%= current_user.user_name %></span>
  
</div>


<%= form_with(model:@user,local: true,class:"profile_edit_form") do |f| %>
  <table>
    <tr>
      <td><%= f.label :プロフィール写真,class:"edit_label" %></td>
      <td><%= f.file_field :image,class:"edit_text" %></td>
    </tr>

    <tr>
      <td><%= f.label :名前,class:"edit_label" %></td>
      <td><%= f.text_field :name,class:"edit_text" %></td>
    </tr>

    <tr>
      <td><%= f.label :ユーザーネーム,class:"edit_label" %></td>
      <td><%= f.text_field :user_name,class:"edit_text" %></td>
    </tr>

    <tr>
      <td><%= f.label :メールアドレス,class:"edit_label" %></td>
      <td><%= f.email_field :email,class:"edit_text" %></td>
    </tr>

    <tr>
      <td><%= f.label :自己紹介,class:"edit_label" %></td>
      <td><%= f.text_field :content,class:"edit_text" %></td>
    </tr>
  </table>

  <div class="profile_edit_submit"> 
    <%= f.submit "編集",class:"btn btn-outline-secondary btn-sm" %>
  </div> 
<% end %>
