<div class="profile">
  <% if @user.image? %>
    <%= image_tag(@user.image.url,class:"profile_user_img") %>
  <% else %>
    <%= image_tag"/assets/default.jpeg",class:"profile_user_img" %>
  <% end %>

  <div class="profile_index">
    <span class="profile_user_name"><%= current_user.user_name %></span>
    <%= link_to "プロフィールを編集", edit_user_path(@user.id),class:"btn btn-outline-secondary btn-sm" %>
    <span class="profile_content"><%= current_user.content %></span>
  </div>
</div>

<div class="favorite_label">
  <%= link_to "投稿", user_path(current_user.id),class:"btn btn-outline-secondary btn-sm" %>
  <%= link_to "お気に入り", favorites_users_path,class:"btn btn-outline-secondary btn-sm" %>
</div>

<div class="favorite_imgs">
  <% @pictures.each do |picture| %>
    <%= image_tag(picture.image.url,class:"favorite_img") %>
  <% end %>
</div>