<%= form_with(model:@user,local:true) do |f| %>

<%= image_tag "InstagramClone.png" %>

<p>登録して友達の写真や動画をチェックしよう</p>

<%= f.email_field :email,placeholder:"メールアドレス" %><br>
<%= f.text_field :name,placeholder:"フルネーム" %><br>
<%= f.text_field :user_name,placeholder:"ユーザーネーム" %><br>
<%= f.password_field :password, placeholder:"パスワード" %><br>
<%= f.password_field :password_confirmation,placeholder:"パスワード確認" %><br>

<%= f.submit "登録する"%>

<% end %>