<p class="title">投稿詳細</p>
<div class="user_name">
  <%= @picture.user.name %>
</div>
<%= l @picture.created_at %>
<div class="show_image">
  <%= image_tag @picture.image.url %>
</div>
<div class="show_content">
  <%= @picture.content %>
</div>
<%= link_to "戻る",pictures_path,class:"btn btn-secondary btn-sm" %>
